body {
  font-family: 'Gloria Hallelujah', cursive, sans-serif;
}

#game-page-title {
    text-align: center;
}

#game-time-info-box {
    display: flex;
    justify-content: space-between;
}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    background-color: black;
}

/* found box-shadow code here - https://www.tutorialrepublic.com/faq/how-to-place-border-inside-of-div-element-using-css.php#:~:text=Answer%3A%20Use%20the%20CSS%20box,property%20with%20a%20negative%20value. */
.card:hover {
    box-shadow: inset 0px 0px 0px 5px yellow;
}

.red {
    background-color: red;
}

.teal {
    background-color: teal;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.aqua {
    background-color: aqua;
}

.black {
     background-color: black;
 }

 @media only screen and (max-width: 576px) {
  .card {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: black;
  }
}

@media only screen and (max-width: 320px) {
  .card {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: black;
  }
}